body {
    text-align: center;
    font-family: sans-serif;
}

#twitchimg {
    height: 25;
    width: 25;
}

#twitterimg {
    height: 25;
    width: 25;
}

#instaimg {
    height: 25;
    width: 25;
}

h1 {
    color: chocolate;
}

#pagename {
    color: blue;
}

h2 {
    color: aquamarine;
}

h3 {
    font-family: fantasy;
}

p {
    font-size: 20px;
}

a {
    font-size: 18px;
}

.line {
    height: 10px;
    width: 1000px;
    background-color: black;
    margin: 8px auto;
}
